/* client/src/index.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Reset margins and paddings for everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  /* Remove any default centering from Vite */
  display: block; 
}

#root {
  width: 100%;
  height: 100%;
}